<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- Welcome Files -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!-- Session Configuration -->
    <!-- ##################### -->
    <servlet>
        <description>Neue Category erstellen,löschen mit ref Bildern</description>
        <servlet-name>Category (edit)</servlet-name>
        <jsp-file>/admin/categorieform.jsp</jsp-file>
    </servlet>
    <servlet>
        <description>Neue Gallery erstellen,löschen mit ref Categorien</description>
        <servlet-name>Gallery (edit)</servlet-name>
        <jsp-file>/admin/galleryform.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>FileDelete</servlet-name>
        <servlet-class>org.mhi.servlets.FileDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUpdate</servlet-name>
        <url-pattern>/admin/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Category (edit)</servlet-name>
        <url-pattern>/admin/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Gallery (edit)</servlet-name>
        <url-pattern>/admin/gallery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Authentication</servlet-name>
        <url-pattern>/admin/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileDelete</servlet-name>
        <url-pattern>/admin/delete</url-pattern>
        <url-pattern>/admin/gallery/delete</url-pattern>
        <url-pattern>/admin/category/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUpload</servlet-name>
        <url-pattern>/admin/upload</url-pattern>
        <url-pattern>/admin/category/upload</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <!-- Security Configuration -->
    <!-- ###################### -->
    <servlet>
        <servlet-name>Authentication</servlet-name>
        <servlet-class>org.mhi.auth.Authentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUpdate</servlet-name>
        <servlet-class>org.mhi.servlets.FileUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUpload</servlet-name>
        <jsp-file>/admin/uploadform.jsp</jsp-file>
    </servlet>
    <!-- Security Configuration -->
    <!-- ###################### -->
    <security-role>
        <description>Administrator</description>
        <role-name>Administrator</role-name>
    </security-role>
    <security-role>
        <description>Manager</description>
        <role-name>Manager</role-name>
    </security-role>
    <!-- Security Constraint -->
    <security-constraint>
        <display-name>My First Sec Constraint</display-name>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
            <!-- Protected Area -->
        </web-resource-collection>
        <!-- This Roles are access the protected Ares-->
        <auth-constraint>
            <role-name>Administrator</role-name>
            <role-name>Manager</role-name>
        </auth-constraint>
    </security-constraint>
    <!-- Kind of Authentication -->
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>Admin Login</realm-name>
        <form-login-config>
            <form-login-page>/login.html</form-login-page>
            <form-error-page>/login.html</form-error-page>
        </form-login-config>
    </login-config>
</web-app>
