
.abnav ul li{
  list-style-type: none; 
  padding: 0 0 0 5px;
}

.abnav ul h3{
  /* list-style-type: none; */ 
  font-size: 20px;
  color: rgb(69, 85, 87);
}
.abnav hr {
    border: none;
}

.abnav a:link {
    text-decoration: none;
    color: #666;
}
.abnav a:hover li{
    background: #eee;
}