/* 
    Created on : 29.07.2014, 15:00:07
    Author     : MaHi
*/

textarea , input[type="text"] , input[type="email"] {
  width: 400px;  
  margin-left: 0;
  margin: 15px 0;
}

textarea {
    height: 100px;
}

input[type="submit"]{
    margin-left:0;
}