<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <!-- MySQL - Datenbank/Allinkl -->
  <persistence-unit name="mysql-allinkl" transaction-type="RESOURCE_LOCAL">
    <!-- RESOURCE_LOCAL - create and manage Entity-Manager yourself -->
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>org.mhi.persistence.Images</class>
    <!-- JPA uses all Classes annotated as Enities -->
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="toplink.ddl-generation" value="create-tables">
      </property>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://www.brackwasser.ch:3306/d01a6a79?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value="d01a6a79"/>
      <property name="javax.persistence.jdbc.password" value="_techadmin!"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
    </properties>
  </persistence-unit>
</persistence>
